body {


	/*background: #DAD7c7;*/

	background-image: url("https://media.giphy.com/media/GU4WKVOuCddn2/giphy.gif");
	/*background-image: url("http://www.os-borcev.si/files/2015/07/reading-stick-carrying-books.gif");*/
	background-attachment: fixed;

	/*background-position: center;*/
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center top 40px;

}

.class1 {

	display: inline;

}

.classb {

	diasplay: inline;
}


#l1:visited, #l1:link {
	color: red;
	text-decoration: none;

}
#l1:hover {
	text-decoration: underline;
	background-color: #C0C0C0;
}
#l2:visited, #l1:link {
	color: red;
	text-decoration: none;

}
#l2:hover {
	background-color: #C0C0C0;
	text-decoration: underline;
}
#l3:visited, #l1:link {
	color: red;
	text-decoration: none;

}
#l3:hover {
	background-color: #C0C0C0;
	text-decoration: underline;
}
#l4:visited, #l1:link {
	color: red;
	text-decoration: none;

}
#l4:hover {
	background-color: #C0C0C0;
	text-decoration: underline;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #5CB3FF;
}
a:hover {
	text-decoration: underline;
	background-color: #0000FF;
}
a:active {
	text-decoration: underline;
	color: #00FFFF;
}